USE [master]
GO
/****** Object:  Database [quanlycuahangtaphoa]    Script Date: 4/5/2025 8:38:53 PM ******/
CREATE DATABASE [quanlycuahangtaphoa]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'quanlycuahangtaphoa', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER01\MSSQL\DATA\quanlycuahangtaphoa.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'quanlycuahangtaphoa_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER01\MSSQL\DATA\quanlycuahangtaphoa_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [quanlycuahangtaphoa].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [quanlycuahangtaphoa]
GO
/****** Object:  Table [dbo].[Category]    Script Date: 4/5/2025 8:38:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Category](
	[categoryID] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[categoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Customers]    Script Date: 4/5/2025 8:38:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customers](
	[customerID] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](100) NULL,
	[address] [nvarchar](255) NULL,
	[phone] [char](12) NULL,
 CONSTRAINT [PK__Customer__A4AE64B8153E4A48] PRIMARY KEY CLUSTERED 
(
	[customerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Order]    Script Date: 4/5/2025 8:38:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Order](
	[orderID] [int] IDENTITY(1,1) NOT NULL,
	[amount] [bigint] NULL,
	[totalAmount] [bigint] NULL,
	[customerID] [int] NOT NULL,
	[userID] [int] NOT NULL,
	[createdAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[orderID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderDetail]    Script Date: 4/5/2025 8:38:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderDetail](
	[orderID] [int] NOT NULL,
	[productID] [int] NOT NULL,
	[price] [bigint] NULL,
	[quantity] [int] NULL,
	[discount] [int] NULL,
 CONSTRAINT [PK__OrderDet__BAD83E69AE8E2148] PRIMARY KEY CLUSTERED 
(
	[orderID] ASC,
	[productID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Product]    Script Date: 4/5/2025 8:38:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product](
	[productID] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](100) NULL,
	[stockOnHand] [int] NULL,
	[price] [bigint] NULL,
	[imagePath] [nvarchar](255) NULL,
	[categoryID] [int] NOT NULL,
 CONSTRAINT [PK__Product__2D10D14ABC549956] PRIMARY KEY CLUSTERED 
(
	[productID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StockIn]    Script Date: 4/5/2025 8:38:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StockIn](
	[productID] [int] NOT NULL,
	[supplierID] [int] NOT NULL,
	[quantity] [int] NULL,
	[createdAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[productID] ASC,
	[supplierID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Supplier]    Script Date: 4/5/2025 8:38:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Supplier](
	[supplierID] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](100) NULL,
	[address] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[supplierID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 4/5/2025 8:38:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[userID] [int] IDENTITY(1,1) NOT NULL,
	[username] [varchar](20) NULL,
	[password] [varchar](100) NULL,
	[role] [varchar](10) NULL,
	[phone] [char](12) NULL,
	[fullName] [nvarchar](100) NULL,
	[address] [nvarchar](200) NULL,
	[position] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[userID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Category] ON 

INSERT [dbo].[Category] ([categoryID], [name]) VALUES (1, N'Đồ uống')
INSERT [dbo].[Category] ([categoryID], [name]) VALUES (2, N'Thực phẩm khô')
INSERT [dbo].[Category] ([categoryID], [name]) VALUES (3, N'Bánh kẹo')
SET IDENTITY_INSERT [dbo].[Category] OFF
GO
SET IDENTITY_INSERT [dbo].[Customers] ON 

INSERT [dbo].[Customers] ([customerID], [name], [address], [phone]) VALUES (1, N'Nguyễn Văn An', N'15 Lê Đại Hành, Quận Hai Bà Trưng, Hà Nội', N'0901234567  ')
INSERT [dbo].[Customers] ([customerID], [name], [address], [phone]) VALUES (2, N'Trần Thị Bình', N'25 Nguyễn Thị Minh Khai, Quận 1, TP.HCM', N'0912345678  ')
INSERT [dbo].[Customers] ([customerID], [name], [address], [phone]) VALUES (3, N'Lê Văn Cường', N'35 Trần Hưng Đạo, Quận 5, TP.HCM', N'0923456789  ')
SET IDENTITY_INSERT [dbo].[Customers] OFF
GO
SET IDENTITY_INSERT [dbo].[Order] ON 

INSERT [dbo].[Order] ([orderID], [amount], [totalAmount], [customerID], [userID], [createdAt]) VALUES (2, NULL, 150000, 2, 2, CAST(N'2025-03-04T17:23:16.990' AS DateTime))
INSERT [dbo].[Order] ([orderID], [amount], [totalAmount], [customerID], [userID], [createdAt]) VALUES (3, NULL, 85000, 3, 3, CAST(N'2025-03-07T17:23:16.990' AS DateTime))
INSERT [dbo].[Order] ([orderID], [amount], [totalAmount], [customerID], [userID], [createdAt]) VALUES (4, NULL, 320000, 4, 4, CAST(N'2025-03-12T17:23:16.990' AS DateTime))
SET IDENTITY_INSERT [dbo].[Order] OFF
GO
INSERT [dbo].[OrderDetail] ([orderID], [productID], [price], [quantity], [discount]) VALUES (2, 6, 120000, 1, 0)
INSERT [dbo].[OrderDetail] ([orderID], [productID], [price], [quantity], [discount]) VALUES (2, 10, 10000, 3, 0)
INSERT [dbo].[OrderDetail] ([orderID], [productID], [price], [quantity], [discount]) VALUES (3, 5, 3500, 10, 10)
GO
SET IDENTITY_INSERT [dbo].[Product] ON 

INSERT [dbo].[Product] ([productID], [name], [stockOnHand], [price], [imagePath], [categoryID]) VALUES (1, N'Pepsi 330ml', 331, 100000, N'D:\File Các Môn Học\Đồ Án CDIO2\LuuTruCode\Nhom4DoAn-HeThongQuanLyCuaHangTapHoa\image\SanPham\pepsi-lon-330ml.png', 1)
INSERT [dbo].[Product] ([productID], [name], [stockOnHand], [price], [imagePath], [categoryID]) VALUES (3, N'Nước suối Aquafina 500ml', 150, 5000, N'D:\File Các Môn Học\Đồ Án CDIO2\LuuTruCode\Nhom4DoAn-HeThongQuanLyCuaHangTapHoa\image\SanPham\aquafina-500ml.jpg', 1)
INSERT [dbo].[Product] ([productID], [name], [stockOnHand], [price], [imagePath], [categoryID]) VALUES (4, N'Trà xanh 0 độ 500ml', 2, 12000, N'D:\File Các Môn Học\Đồ Án CDIO2\LuuTruCode\Nhom4DoAn-HeThongQuanLyCuaHangTapHoa\image\SanPham\traxanh0do.jpg', 1)
SET IDENTITY_INSERT [dbo].[Product] OFF
GO
INSERT [dbo].[StockIn] ([productID], [supplierID], [quantity], [createdAt]) VALUES (1, 1, 501, CAST(N'2025-02-20T16:50:30.603' AS DateTime))
INSERT [dbo].[StockIn] ([productID], [supplierID], [quantity], [createdAt]) VALUES (3, 1, 60, CAST(N'2025-02-22T16:50:30.603' AS DateTime))
INSERT [dbo].[StockIn] ([productID], [supplierID], [quantity], [createdAt]) VALUES (5, 2, 100, CAST(N'2025-02-25T16:50:30.603' AS DateTime))
GO
SET IDENTITY_INSERT [dbo].[Supplier] ON 

INSERT [dbo].[Supplier] ([supplierID], [name], [address]) VALUES (1, N'Công ty TNHH Đồ uống Sài Gòn', N'123 Nguyễn Trãi, Quận 1, TP.HCM')
INSERT [dbo].[Supplier] ([supplierID], [name], [address]) VALUES (2, N'Công ty CP Thực phẩm Miền Bắc', N'45 Lê Lợi, Quận Hoàn Kiếm, Hà Nội')
INSERT [dbo].[Supplier] ([supplierID], [name], [address]) VALUES (3, N'Công ty TNHH Bánh kẹo Bibica', N'67 Nguyễn Huệ, Quận 1, TP.HCM')
SET IDENTITY_INSERT [dbo].[Supplier] OFF
GO
SET IDENTITY_INSERT [dbo].[User] ON 

INSERT [dbo].[User] ([userID], [username], [password], [role], [phone], [fullName], [address], [position]) VALUES (1, N'admin', N'123456', N'Admin', N'0987654321  ', N'Phạm Minh Trang', N'Đà Nẵng', N'Giám đốc')
INSERT [dbo].[User] ([userID], [username], [password], [role], [phone], [fullName], [address], [position]) VALUES (2, N'nhanvien1', N'123456', N'Nhân Viên', N'0912345678  ', N'Ngô Minh Quân', N'Đà Nẵng', N'Nhân viên')
INSERT [dbo].[User] ([userID], [username], [password], [role], [phone], [fullName], [address], [position]) VALUES (3, N'nhanvien2', N'123456', N'Nhân Viên', N'0395546300  ', N'Nguyễn Phạm Nhật Huy', N'Đà Nẵng', N'Nhân viên')
SET IDENTITY_INSERT [dbo].[User] OFF
GO
ALTER TABLE [dbo].[Order] ADD  DEFAULT (getdate()) FOR [createdAt]
GO
ALTER TABLE [dbo].[Product] ADD  CONSTRAINT [DF__Product__stockOn__14270015]  DEFAULT ((0)) FOR [stockOnHand]
GO
ALTER TABLE [dbo].[Product] ADD  CONSTRAINT [DF__Product__price__151B244E]  DEFAULT ((0)) FOR [price]
GO
ALTER TABLE [dbo].[StockIn] ADD  DEFAULT (getdate()) FOR [createdAt]
GO
ALTER TABLE [dbo].[Order]  WITH CHECK ADD  CONSTRAINT [FK__Order__customerI__0A9D95DB] FOREIGN KEY([customerID])
REFERENCES [dbo].[Customers] ([customerID])
GO
ALTER TABLE [dbo].[Order] CHECK CONSTRAINT [FK__Order__customerI__0A9D95DB]
GO
ALTER TABLE [dbo].[Order]  WITH CHECK ADD FOREIGN KEY([userID])
REFERENCES [dbo].[User] ([userID])
GO
ALTER TABLE [dbo].[OrderDetail]  WITH CHECK ADD  CONSTRAINT [FK__OrderDeta__order__18EBB532] FOREIGN KEY([orderID])
REFERENCES [dbo].[Order] ([orderID])
GO
ALTER TABLE [dbo].[OrderDetail] CHECK CONSTRAINT [FK__OrderDeta__order__18EBB532]
GO
ALTER TABLE [dbo].[OrderDetail]  WITH CHECK ADD  CONSTRAINT [FK__OrderDeta__produ__19DFD96B] FOREIGN KEY([productID])
REFERENCES [dbo].[Product] ([productID])
GO
ALTER TABLE [dbo].[OrderDetail] CHECK CONSTRAINT [FK__OrderDeta__produ__19DFD96B]
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD  CONSTRAINT [FK__Product__categor__160F4887] FOREIGN KEY([categoryID])
REFERENCES [dbo].[Category] ([categoryID])
GO
ALTER TABLE [dbo].[Product] CHECK CONSTRAINT [FK__Product__categor__160F4887]
GO
ALTER TABLE [dbo].[StockIn]  WITH CHECK ADD  CONSTRAINT [FK__StockIn__product__22751F6C] FOREIGN KEY([productID])
REFERENCES [dbo].[Product] ([productID])
GO
ALTER TABLE [dbo].[StockIn] CHECK CONSTRAINT [FK__StockIn__product__22751F6C]
GO
ALTER TABLE [dbo].[StockIn]  WITH CHECK ADD FOREIGN KEY([supplierID])
REFERENCES [dbo].[Supplier] ([supplierID])
GO
USE [master]
GO
